recursive-include diffpy *
recursive-exclude diffpy *.py[co]
include AUTHORS.txt LICENSE*.txt README*
recursive-include doc *
prune doc/epydoc
prune doc/manual/images/originals
exclude doc/manual/*.texinfo
exclude doc/manual/*.py
exclude doc/manual/images/*.pdf
exclude doc/manual/Makefile
exclude doc/manual/images/Makefile
recursive-include icons *.png *.ico
